html, body{
    height: 100%
}
body{
    background-color: #4052e4;
    display: grid;
    place-items: center
}
.card{
    padding: 0px 15px;
    border-radius: 20px
}
.c1{
    background-color: #fff2f1;
    border-radius: 20px
}
a{
    margin: 0px;
    font-size: 13px;
    border-radius: 7px;
    text-decoration: none;
    color: black
}
a:hover{
    color: #e0726c;
    background-color: #fff2f1
}
.nav-link{
    padding: 1rem 1.4rem;
    margin: 0rem 0.7rem
}
.ac{
    font-weight: bold;
    color: #e0726c;
    font-size: 12px
}
input, button{
    width: 96%;
    background-color: #fff2f1;
    border-radius: 8px;
    padding: 8px 17px;
    font-size:13px;
    border: 1px solid #f5f0ef;
    color: #dccece
}
input{
    text-decoration: none
}
.bt{
    background-color: #ff4133;
    border: 1px solid rgb(300, 200, 200)
}
form{
    margin-top: 70px
}
form >*{
    margin: 10px 0px
}
#forgot{
    margin: 0px -60px
}
#register{
    text-align: center
}
img{
    background-color: antiquewhite
}
.wlcm{
    font-size: 30px
}
.sp1{
    font-size: 5px
}
.sp1 >span{
    background-color: #f0c3be
}